@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	margin: 0px;
}
body .body-frame{
	width: 100%;
	height: 2637px;
}
.body-frame .nav-frame, .menu-frame{
	width: 100%;
	height: 520px;
	display: flex;
	flex-direction: column;
}
.body-frame .info-frame, .gallery-frame, .contact-frame{
	width: 100%;
	height: 455px;
	display: flex;
	margin-top: 47px;
}
.body-frame .footer-frame{
	width: 100%;
	height: 220px;
}


.nav-frame .nav{
	width: 1035px;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	margin: 0 auto;
}
.body-frame .nav-frame{
	background-image: url('img/top-background.png');
	background-size: cover;
}
.nav-frame .nav-pic{
	width: 1100px;
	height: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 40px;
}
.nav-pic .nav-text, .nav-image{
	width: 530px;
	height: 380px;
	display: flex;
	align-items: center;
}
.nav-pic .nav-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}


.menu-frame .sub-menu, .sub-info, .sub-gallery, .sub-contact{
	width: 83%;
	height: 420px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 30px;
}
.sub-menu .menu-pic, .info-row, .gallery-row, .contact-row{
	width: 100%;
	height: 83%;
	display: flex;
	justify-content: space-between;
}
.menu-pic .menu-image{
	border-radius: 50px;
	width: 20%;
	height: 120%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 17px 20px;
	box-shadow: 0px 1px 11px 1px #a1b1b1;
}


.info-row .info-image, .info-text, .contact-image{
	width: 48%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.contact-text{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: bold;
}
.info-image .info-img-up{
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: center;
}
.info-image .info-img-down{
    width: 100%;
	height: 35%;
	display: flex;
	justify-content: space-between;
	border-radius: 30px;
	overflow: visible;
}
.info-img-up>img{
	width: 380px;
	height: 257px;
}
.info-img-down>img{
	width: 237px;
	height: 158px;
}


.contact-phone, .contact-email, .nav-phone, .nav-image{
	display: flex;
	align-items: center;
}
.gallery-row>img{
	width: 343px;
	height: 277px;
}
.contact-image>img{
	width: 800px;
	height: 450px;
	z-index: 2;
}
.info-img-up>img, .info-img-down>img{
	border-radius: 30px;
}
.contact-image>.hand1, .contact-image>.hand2{
	width: 40px;
	height: 80px;
	position: relative;
}
.contact-image>.hand1{
	right: 21px;
	top: 18px;
	z-index: 1;
}
.contact-image>.hand2{
	left: 767px;
	bottom: 340px;
	z-index: 1;
}


.footer-frame .sub-footer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #008FCC;
}
.sub-footer>.footer-image, .house-text, .footer-text, .footer-copyright{
	width: 55%;
	height: 33%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
	margin: 0 auto;
}
.footer-image>img{
	display: flex;
	justify-self: center;
}


.arrows{
	display: flex;
	justify-content: center;
}
.arrows>.arrow1{
	margin-right: 15px;
	background-color: #008FCC;
}
.arrows>.arrow2{
	background-color: white;
}
.arrows>.arrow1, .arrows>.arrow2{
	border-radius: 100%;
	border-color: #008FCC;
}


span, p, h2, h3, button{
	font-family: 'Roboto', sans-serif;
	color: #05435E;
}
.big-button, .small-button, .blue-button{
	border: none;
}
.nav-text>.big-button{
	width: 190px;
	height: 45px;
}
.menu-image>.small-button, .blue-button{
	width: 140px;
	height: 40px;
}
.big-button, .small-button, .blue-button{
	background-color: #FF6B6B;
	border-color: #FF6B6B;
	border-radius: 50px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
}
.menu-image>.blue-button{
	background-color: #008FCC;
	border-color: #008FCC;
}
.white-text{
	color: #FFFFFF;
}
.red-text{
	color: #FF6B6B;
}
.margin-left, .blue-text{
	margin-left: 8px;
	color: #008FCC;
}